@import url('css/bootstrap.min.css');

body{
    font-size: 12px;
}
#logo{
    width: 30px;
    height: 30px;
    float: left;
    background: transparent url(media/logo.png) no-repeat center;
    background-size: contain;
    position: relative;
    top: -5px;
    left: 0;
    margin-right: 10px;
}
.menu i.fa{
    margin-right: 5px;
}
.fa-bibliography:before {
  content: "\f02d";
}
.fa-circulation:before {
  content: "\f07a";
}
.fa-membership:before {
  content: "\f0c0";
}
.fa-master_file:before {
  content: "\f07c";
}
.fa-stock_take:before {
  content: "\f022";
}
.fa-system:before {
  content: "\f085";
}
.fa-reporting:before {
  content: "\f080";
}
.fa-serial_control:before {
  content: "\f02a";
}
li a.menu.menuCurrent,
.menu.menuCurrent:hover,
.menu.menuCurrent:active,
.menu.menuCurrent:focus{
    background: #428BCA;
    color: #fff;
}
.menu:focus{
    border: none;
    outline: none;
}
.warning{
  list-style: none;
}
.nav-second-level{
    background: #d0e2f2;
}
#side-menu ul a.subMenuItem{
    background: #edf3fa;
    font-size: 12px;
}
#side-menu ul a.subMenuItem:hover{
    background: #d7e4f4;
}
#side-menu ul a.subMenuItem i.fa{
    margin-right: 10px;
}
a:focus{
    border: none;
    outline: none;
}
#side-menu ul {
  padding: 0;
  margin: 0;
  list-style: none;
}
#side-menu ul li,
#side-menu ul a {
  display: block;
}
#side-menu ul a {
  padding: 10px 20px;
  border-top: 1px solid #b3cfea;
  box-shadow: 0px 1px 0px rgba(255, 255, 255, 0.05) inset;
}
#side-menu ul a:hover,
#side-menu ul a:focus,
#side-menu ul a:active {
  color: #428BCA;
  text-decoration: none;
  background: #9cbde4;
}
.table-hover > tbody > tr:hover > td,
.table-hover > tbody > tr:hover > th {
  background-color: #d0e2f2;
}
.sub_section .btn-group{
  float: right;
  padding:0;
  margin:0;
}
.sub_section{
  padding:10px;
}
select.select2{
    min-width: 150px;
}
.formElementInfo {
  display: none;
}
.tooltipsy {
  padding: 5px;
  max-width: 200px;
  color: #8a6d3b;
  background-color: #fcf8e3;
  border: 1px solid #f0c264;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -opera-border-radius: 5px;
  -moz-box-shadow: 0 0 10px rgba(0, 0, 0, .5);
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, .5);
  box-shadow: 0 0 10px rgba(0, 0, 0, .5);
  text-shadow: none;
}
td.alterCell{
    background: #fff;
}
#attachIframe, #itemIframe, #authorIframe, #topicIframe {
  border-top: dotted 1px #ddd;
  border-left: dotted 1px #ddd;
  border-bottom: dotted 1px #ddd;
  padding:5px;
}
input,textarea,select {
  padding: 6px;
  font-size: 14px;
  line-height: 1.428571429;
  color: #555555;
  vertical-align: middle;
  background-color: #ffffff;
  border: 1px solid #cccccc;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -webkit-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
          transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
}

input:focus,textarea:focus {
  border-color: #66afe9;
  outline: 0;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.6);
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.6);
}
input.small_input {
    width: 50px;
}
input.medium_input {
    width: 100px;
}
.popUpSubForm select{
    margin: 5px 0;
}
.infoBox{
  padding: 15px;
  margin-bottom: 20px;
  border: 1px solid transparent;
  border-radius: 4px;
  color: #3c763d;
  background-color: #dff0d8;
  border-color: #d6e9c6;
}
.infoBox div{
    float: none !important;
}
.per_title{
  padding-bottom: 9px;
  margin: 40px 0 20px;
  border-bottom: 1px solid #eee;
}
/*------
icon
--------*/
.icon {
  text-decoration: none;
  border: 0;
  display: inline-block;
	float: left;
  width: 96px;
  height: 96px;
  background-repeat: no-repeat;
}

.backupIcon {
  background-image: url(media/modules/backup.png);
}

.barcodeIcon {
  background-image: url(media/modules/barcode.png);
}

.biblioIcon {
  background-image: url(media/modules/biblio.png);
}

.calendarIcon {
  background-image: url(media/modules/calendar.png);
}

.circulationIcon {
  background-image: url(media/modules/circ.png);
}

.exportIcon {
  background-image: url(media/modules/export.png);
}

.importIcon {
  background-image: url(media/modules/import.png);
}

.itemIcon {
  background-image: url(media/modules/item.png);
}

.itemOutIcon {
  background-image: url(media/modules/item_out.png);
}

.loanRulesIcon {
  background-image: url(media/modules/loan_rules.png);
}

.masterFileIcon {
  background-image: url(media/modules/masterfile.png);
}

.memberIcon {
  background-image: url(media/modules/membership.png);
}

.memberTypeIcon {
  background-image: url(media/modules/member_type.png);
}

.moduleIcon {
  background-image: url(media/modules/module.png);
}

.overdueIcon {
  background-image: url(media/modules/overdue.png);
}

.quickReturnIcon {
  background-image: url(media/modules/quick_return.png);
}

.reportIcon {
  background-image: url(media/modules/report.png);
}

.stockTakeIcon {
  background-image: url(media/modules/sstake.png);
}

.statisticIcon {
  background-image: url(media/modules/statistic.png);
}

.syslogIcon {
  background-image: url(media/modules/syslog.png);
}

.systemIcon {
  background-image: url(media/modules/system.png);
}

.userIcon {
  background-image: url(media/modules/user.png);
}

.userGroupIcon {
  background-image: url(media/modules/user_group.png);
}

.serialIcon {
  background-image: url(media/modules/serial_control.png);
}

.printIcon {
  background-image: none !important;
}

.errorIcon {
  background-image: url(media/error.png);
}

.homeFlagIcon {
  background: transparent url(media/home.png) top left no-repeat;
  width: 23px !important;
  height:23px !important;
}

.lockFlagIcon {
  background-image: url(media/lock.png);
}

.trashLink, .extendLink, .noExtendLink, .returnLink {
  margin-left:auto;
  margin-right:auto;
  text-decoration: none;
  display: block;
  width: 23px;
  height: 23px;
  background: url(media/trash.png) no-repeat top center;
}

.extendLink {
  background-image: url(media/extend.png);
}

.noExtendLink {
  background-image: url(media/no_extend.png);
}

.returnLink {
  background-image: url(media/return.png);
}

.chartLink {
  padding-left: 30px;
  background: url(media/pie.png) center left no-repeat;
}

.chartLink a {
  color: #f60;
}

.loadingImage {
  background-image: url(media/loader.gif) !important;
  background-repeat: no-repeat !important;
  background-position:10px 15px;
  padding-left:35px !important;
}
.menuBoxInner {
  background-color:#fff;
  background-image: none !important;
}
.editLink {
  margin-left: auto;
  margin-right: auto;
  display: block;
  width: 32px;
  height: 32px;
  background: url(media/edit.png) top center no-repeat;
}

.editLink:root {
  text-align: center;
}
.curModuleLink{
  color: #a94442 !important;
  background-color: #f2dede !important;
}
.sub_section{
  padding: 15px;
  margin-bottom: 20px;
  border: 1px solid transparent;
  border-radius: 4px;
}
.sub_section{
  color: #31708f;
  background-color: #d9edf7;
  border-color: #bce8f1;
}
/*---------
table
---------*/
table, tr, td, th {
  border: none !important;
}

#dataList {
  width:100%;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}

.dayname,
#dataList td,
#mainForm table td,
.border td,
#pageContent td
{
  padding:5px;
  border-top: dotted 1px #ddd !important;
  border-bottom: dotted 1px #ddd !important;
  border-left: dotted 1px #ddd !important;
}

#pageContent td {
  border-top: dotted 1px #ddd !important;
}

.dayname,
.dataListHeaderPrinted td {
  border-top: dotted 1px #ddd !important;
  background-color:whitesmoke !important;
}

.dataListPrinted td {
  padding:7px;
  border-bottom: dotted 1px #ddd !important;
  border-left: dotted 1px #ddd !important;
  background-color:#fff ;
  color:#4d4d4d;
}

.dataListHeader td,
.dataListHeader td a,
.dataListHeaderPrinted,
.dataListHeaderPrinted td a,
.printPageInfo {
  color:#4d4d4d !important;
  font-weight:normal;
}

.dataListHeader {
  background-color:#fff !important;
}

.dataListHeader td, .dataListHeaderPrinted {
  background-color:#eee !important;
}

.fullWidth {
  width: 100%;
}

.mceToolbar tr td
{

  padding:0px !important;
  margin:0px !important;
  border-top: none !important;
  border-left: none !important;
  border-right: none !important;
  border-bottom: none !important;

}
#listsFrame {
  width: 100%;
  height: 300px !important;
  border: none;
  margin: 5px 0;
}
#pageContent
{
  height: 100% !important;
}
#pageContent div {
  background-color:#fff !important;
}
.loanItemCodeInput, #pageContent .loanItemCodeInput {
	padding: 5px;
	background: rgb(157, 224, 253) !important;
}
.social-input{
    margin: 5px 0;
}
.social-label{
    width: 150px;
    display: inline-block;
}